/* Stitchly SASS file */

/* FONTS */
$font-stack: 'Ubuntu', sans-serif;
$font-regular: 400;
$font-bold: 700;

/* COLORS */
$header-bg: #79CF90;
$subheader-bg: #D6F3DE;
$button-round: #BA3E79;




body {
	font-family: $font-stack;
	font-weight: $font-regular;
}

.navbar-fixed-top {
	background-color: $header-bg;
	border: none;
}