/* Stitchly SASS file */

/* FONTS */
$font-stack: 'Ubuntu', sans-serif;
$font-logo: 'Lobster', cursive;
$font-regular: 400;
$font-bold: 700;
$font-light: 300;

/* COLORS */
$body-copy: #4f4f4f;
$navbar-link: #fff;
$footer-text: #fff;
$link-hover: #FF9CCB;
$header-bg: #79CF90;
$subheader-bg: #D6F3DE;
$subheader-text: #4F4F4F;
$button-round: #BA3E79;
$button-round-hover: #E07BAB;
$mychart-bg: #FFFFF9;
$light-gray: #ccc;

/* CHART */
$chart-border: #222;
$chart-cell-size: 30px;
$chart-cell-selected-bg: #D6F3DE;
$chart-cell-selected-border: #4A7D57;

/* STITCH TOOLBAR */
$stitchbar-cell-size: 48px; 
$stitchbar-selected-stitch-bg: #D6F3DE;
$stitchbar-selected-stitch-border: #222;

/* MAIN COLOR */
$maincolor-cell-size: 30px;
$maincolor-cell-border: #222;


html, body {
	font-family: $font-stack;
	font-weight: $font-regular;
    color: $body-copy;
    padding-top: 0px;
    height: 100%;
}

body > .container {
    min-height: 100%;
    margin: 0 auto -60px;
}

body > .container:after {
    content: "";
    display: block;
}

.box-shadow {
    -webkit-box-shadow: 0px 3px 14px 0px rgba(199,199,199,1);
    -moz-box-shadow: 0px 3px 14px 0px rgba(199,199,199,1);
    box-shadow: 0px 3px 14px 0px rgba(199,199,199,1);
}

.navbar {
	background-color: $header-bg;
	border: none;
    height: 55px;
    top: 0;
    margin-bottom: 0px;
}

.navbar .navbar-brand {
	color: $navbar-link;
	font-family: $font-logo;
	font-size: 2.0em;
}

.navbar .navbar-nav > li > a {
	color: $navbar-link;
}

.navbar .navbar-nav > li > a:hover {
    background-color: $button-round;
}

.button-new-chart {
    border-radius: 50%;
    background-color: $button-round;
    width: 55px; height: 55px;
    float: right;
    display: inline-block;
    position: relative;
    right: 10px; top: -24px;
    -webkit-box-shadow: 0px 10px 17px -5px rgba(199,199,199,1);
    -moz-box-shadow: 0px 10px 17px -5px rgba(199,199,199,1);
    box-shadow: 0px 10px 17px -5px rgba(199,199,199,1);
    background-image: url("../img/icons/icon-add.svg");
    background-position: center center;
    background-repeat: no-repeat;
}

.container_version-notes {
	text-align: left;
	margin-left: auto; margin-right: auto;
	margin-top: 50px;
	width: 60%;
}

.subheader {
    width: 100%;
    background-color: $subheader-bg;
    height: 75px;
    margin-bottom: 30px;
    display: inline-block;
}

.subheader h1 {
    color: $subheader-text;
    font-size: 2.0em;
    margin: 0 0 0 0;
    padding: 20px 0;
    font-weight: $font-light;
}

.help {
	text-align: left;
	margin-left: auto; margin-right: auto;
	margin-top: 50px;
	width: 60%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $header-bg;
  color: $footer-text;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 20px 0;
}

.footer-chart {
    background-color: #eee;
}

body > .container:after {
    height: 60px; /* .push must be the same height as .footer */
}

.mychart {
    height: 56px;
    background-color: $mychart-bg;
    -webkit-box-shadow: 0px 3px 14px 0px rgba(199,199,199,1);
    -moz-box-shadow: 0px 3px 14px 0px rgba(199,199,199,1);
    box-shadow: 0px 3px 14px 0px rgba(199,199,199,1);
    line-height: 4.0em;
    margin-bottom: 20px;
    display: block;
}

.mychart p {
    float: left;
    text-align: left;
    font-size: 1.414em;
    height: 100%;
    width: 30%;
}

.mychart a {
    color: $body-copy;
}

.mychart a:hover {
    color: $link-hover;
}

.mychart .muted {
    color: $light-gray;
    font-size: 1em;
}

.mychart .last-viewed {
    width: 20%;
}

.mychart .image {
    border-right: 1px solid $light-gray;
    width: 90px; height: 100%;
    float: left;
    margin-right: 14px;
}

.mychart .options {
    float: right;
    margin-right: 14px;
}

.mychart .options img {
    height: 56px; width: 56px;
}

/* MATERIAL FONT STYLES */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.icon {
	width: 60;
	height: $stitchbar-cell-size;
	text-align: center;
	display: inline;
	float: left;
}

.icon.edit {
	margin-bottom: 10px; margin-top: 32px;
	margin-right: 20px;
	vertical-align: middle;
	line-height: 2.8em;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* CHART STYLES */

.container-chart {
	margin-left: auto; margin-right: auto;
    margin-bottom: 50px;
    float: left;
    width: 100%;
}

.chart {
	border: 1px solid $chart-border;
	border-collapse: collapse;
    display: table;
    margin-left: auto; margin-right: auto;
}

.chart .chart-row { 
	display: table-row;
}

.chart .chart-row .chart-cell {
	border: 1px solid $chart-border;
	width: $chart-cell-size;
	height: $chart-cell-size;
    float: left;
    display: inline;
    font-weight: $font-bold;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
}

.chart .chart-row .chart-cell-selected {
	border-color: $chart-cell-selected-border;
	border-width: 2px;
	border-style: solid;
	background-color: $chart-cell-selected-bg;
}

/* STITCH TOOLBAR STYLES */
.container-stitches {
	margin-right: auto; margin-left: auto;
	margin-bottom: 25px; margin-top: 50px;
	overflow: auto;
	white-space: nowrap;
}

.container-stitches .color-editing-options {
	margin-left: auto; margin-right: auto;
}

.container-stitches .edit-options {
	text-align: center;
	vertical-align: middle;
	line-height: 3.0em;
	width: 100px;
	display: inline;
}

.container-stitches .cancel-options {
	visibility: hidden;
	display: inline;
	text-align: center;
	vertical-align: middle;
	line-height: 3.0em;
}

.stitchbar {
    display: table;
    margin-left: auto; margin-right: auto;
    display: inline-block;
    white-space: nowrap;
}

.stitchbar .stitchbar-row {
	display: table-row;
}

.stitchbar .stitchbar-row > .stitch {
	border: 1px solid $chart-border;
	width: $stitchbar-cell-size;
	height: $stitchbar-cell-size;
    float: left;
    display: inline;
    font-weight: $font-bold;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    position: relative; 
}

.stitchbar .stitch img {
	top: 0; left: 0; 
	display: block;
	margin-left: auto; margin-right: auto;
	border: 1px solid red;
}

.stitchbar .stitchbar-row .selected {
	border: 5px solid $stitchbar-selected-stitch-border;
	background-color: $stitchbar-selected-stitch-bg;
}

.stitchbar .stitchbar-row .key {
	width: $stitchbar-cell-size;
	height: $stitchbar-cell-size;
    float: left;
    display: inline;
    font-weight: $font-bold;
    text-align: center;
    border: none;
}

/* MAINCOLOR STYLES */
.maincolor {
	width: 50%;
	margin-left: auto; margin-right: auto;
	display: table;
}

.maincolor .mc_label {
	float: left;
	line-height: 2em;
}

.maincolor .mc_box {
	border: 1px solid $maincolor-cell-border;
	width: $maincolor-cell-size;
	height: $maincolor-cell-size;
    float: left;
    display: inline;
    font-weight: $font-bold;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px; margin-right: 10px; margin-bottom: 10px;
    background-color: #ffffff;
}

.maincolor .mc_colorselect {
	display: inline;
	margin-left: 10px;
	visibility: hidden;
}

.maincolor .mc_colorselect .color-selection {
	border: 1px solid $maincolor-cell-border;
	display: inline;
	float: left;
	width: $maincolor-cell-size; height: $maincolor-cell-size; 
}

.color {
	border: red solid 1px;
	width: $maincolor-cell-size; height: $maincolor-cell-size;
}

