/* Stitchly SASS file */
/* FONTS */
/* COLORS */
/* CHART */
/* STITCH TOOLBAR */
/* MAIN COLOR */
body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400; }

.navbar-fixed-top {
  background-color: #79CF90;
  border: none; }

.navbar-inverse .navbar-brand {
  color: #fff;
  font-family: "Lobster", cursive;
  font-size: 2.0em; }

.navbar-inverse .navbar-nav > li > a {
  color: #fff; }

.container_version-notes {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 60%; }

.help {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 60%; }

/* MATERIAL FONT STYLES */
/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

.icon {
  width: 60;
  height: 48px;
  text-align: center;
  display: inline;
  float: left; }

.icon.edit {
  margin-bottom: 10px;
  margin-top: 32px;
  margin-right: 20px;
  vertical-align: middle;
  line-height: 2.8em; }

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none; }

/* CHART STYLES */
.container-chart {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  float: left;
  width: 100%; }

.chart {
  border: 1px solid #222;
  border-collapse: collapse;
  display: table;
  margin-left: auto;
  margin-right: auto; }

.chart .chart-row {
  display: table-row; }

.chart .chart-row .chart-cell {
  border: 1px solid #222;
  width: 30px;
  height: 30px;
  float: left;
  display: inline;
  font-weight: 700;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat; }

.chart .chart-row .chart-cell-selected {
  border-color: #4A7D57;
  border-width: 2px;
  border-style: solid;
  background-color: #D6F3DE; }

/* STITCH TOOLBAR STYLES */
.container-stitches {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  margin-top: 50px;
  overflow: auto;
  white-space: nowrap; }

.container-stitches .edit-options {
  text-align: center;
  vertical-align: middle;
  line-height: 3.0em;
  width: 100px;
  margin-left: auto;
  margin-right: auto; }

.stitchbar {
  display: table;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  white-space: nowrap; }

.stitchbar .stitchbar-row {
  display: table-row; }

.stitchbar .stitchbar-row > .stitch-selection {
  border: 1px solid #222;
  width: 48px;
  height: 48px;
  float: left;
  display: inline;
  font-weight: 700;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  position: relative; }

.stitchbar .stitch-selection img {
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid red; }

.stitchbar .stitchbar-row .stitch-selected {
  border: 5px solid #222;
  background-color: #D6F3DE; }

.stitchbar .stitchbar-row .key {
  width: 48px;
  height: 48px;
  float: left;
  display: inline;
  font-weight: 700;
  text-align: center;
  border: none; }

/* MAINCOLOR STYLES */
.maincolor {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: table; }

.maincolor .mc_label {
  float: left;
  line-height: 2em; }

.maincolor .mc_box {
  border: 1px solid #222;
  width: 30px;
  height: 30px;
  float: left;
  display: inline;
  font-weight: 700;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #ffffff; }

.maincolor .mc_colorselect {
  display: inline;
  margin-left: 10px;
  visibility: hidden; }

.maincolor .mc_colorselect .color-selection {
  border: 1px solid #222;
  display: inline;
  float: left;
  width: 30px;
  height: 30px; }

.color {
  border: red solid 1px;
  width: 30px;
  height: 30px; }

/*# sourceMappingURL=stitchly-sass.css.map */
